@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

body {
  margin: 0;
  background-color: #deb887;
  font-family: "Poppins", sans-serif;
}

p {
  color: white;
  font-size: 3vmin;
}
.img {
  width: 100%;
  height: 200%;
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
  margin: auto;
  border: none;
}

.img1 {
  text-align: left;
}
.img2 {
  text-align: left;
}
h1 {
  color: black;
  text-align: center;
  font-family: Dancing Script, sans-serif;
  font-size: 50px;
}
h2 {
  color:white;
  font-size: 6vh;
}

section {
  display: flex;

  margin-block: 4vh;
}

section.row {
  justify-content: space-around;
  align-items: center;
  background-color: black;
  text-align: center;
}

section.row div {
  display: flex;
  flex-direction: column;

  text-align: justify;
  align-items: center;

  margin: 2vh;

  flex: 1;

}

section.column {
  flex-direction: column;
}

div.textSection-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: black;
}

div.textSection-container #text {
  flex: 2;
  text-align: justify;

  margin: 2vh;
}

div.textSection-container #img {
  flex: 1;
}

@media screen and (max-width: 1000px) {
  section {
    flex-direction: column;
  }
  div.textSection-container {
    flex-direction: column;
  }
}

footer{
 margin-top: 80%; 
}
