@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

body {
  background-color: #deb887;
  font-family: "Poppins", sans-serif;
}

.texto {
  color: white;
  font-size: 3vmin;
}
.img1 {
  width: 100%;
  height: 200%;
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
  text-align: center;
  font-family: Dancing Script, sans-serif;
  font-size: 50px;
}

section {
  display: flex;

  margin-block: 4vh;
}

section.row {
  justify-content: space-around;
  align-items: center;
  background-color: black;
  text-align: center;
}

section.row div {
  display: flex;
  flex-direction: column;

  text-align: justify;
  align-items: center;

  margin: 2vh;

  flex: 1;

}

section.column {
  flex-direction: column;
}

div.textSection-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: black;
}

div.textSection-container #text {
  flex: 2;
  text-align: justify;

  margin: 2vh;
}

div.textSection-container #img {
  flex: 1;
}

div.textSection-container .opposite {
    display: flex;
    flex-direction: column;

    color: black;

    justify-content: center;
    align-items: center;

    flex: 2;
    background-color: black;

    padding: 2vh;
}

div.textSection-container .opposite p {
  text-align: justify;
  color:white;
}

@media screen and (max-width: 1000px) {
  section {
    flex-direction: column;
  }
  div.textSection-container {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .img1{
    flex-direction: column;
  }
  h1 {
    margin: 10px;
  }
  footer{
    margin-top: 50%;
  }
}

footer{
  margin-top: 20%;
}
