html{
    scroll-behavior: smooth;
}

body{
    padding-top: 8%;
}

.button-menu {
    text-decoration: none;
}

.button-menu {
    margin: 0;
    display: flex;
}
#botoesMenu {
    list-style: none;
    padding: 0;
    transition: all .5s;
    justify-content: flex-end;
}

#menu {
    background-color: rgba(0, 0, 0, 0.767);
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
#menu .logo {
    display: flex;
}
#menu p {
    color: #FFF;
}

#menu, #menu ul {
    width: 100%;
    display: flex;
}

.button-menu li {
    padding: 0 20px;
    word-wrap: break-word;
}

.button-menu:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}


@media screen and (max-width: 900px){
    #botoesMenu{
        flex-wrap: wrap;
        justify-content: center;
    }
    body{
        padding-top: 15%;
    }
}
@media screen and (max-width: 600px){
    #botoesMenu{
        justify-content: center;
        padding: 20px 0px;
    }
    #botoesMenu li{
        font-size: 80%;
    }
    body{
        padding-top: 50%;
    }
    #menu{
        position: absolute;
    }
}
